body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #ff8000;
    margin: 0;
    padding: 0;
}
main{
    padding: 20px;
}
header {
    background-color: #000000;
    padding: 10px;
    color: #ff8000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 70px;
}
nav a {
    color: #ff8000;
    margin: 0 10px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
    background-color: #ff8000;
    color: #000000;
}

.containers{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    background-color: #000000;
    text-align: center;
    padding: 10px;
    color: #ff8000;
}
h1{
    text-align: center;
}
.case{
    height:75%
}
.case-swiper{
    background: #333;
    height: 77vh;
    aspect-ratio: 16/9;
    padding: auto;
    border-radius: 20px;
}
.case-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000;
    background: #333;
    background: radial-gradient(circle,rgba(51, 51, 51, 1) 0%, rgba(255, 128, 0, 1) 33%, rgba(51, 51, 51, 1) 67%, #ff8000 100%);
    border-radius: 20px;
    border-style: solid;
    border-color: #ff8000;
}
.swiper-pagination-bullet-active {
     background-color: #000 !important;
}
.item{
    width: 400px;
    height: 400px;
}
.item.Covert{
    background-color: #ff0000;
}
.item.Classified{
    background-color: #FF00FF;
}
.item.Restricted{
    background-color: #660361;
}
.item.Mil-Spec{
    background-color: #0000Ff;
}
.item.Knife{
    background-color: #fffb00;
}
.item img{
    width: 300px;
}
.show{
    width: 100%;
    display: flex;
    flex-direction: row;
}
