<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
<body>
    <header>
        <a href="{{url_for('front_page')}}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo"></a>
        <nav>
            <a href="{{url_for('front_page')}}">Cases</a>
            <a href="{{url_for('inventory')}}">Inventory</a>
            <a href="{{url_for('profile')}}">Profile</a>
            <a href="{{url_for('logout')}}">Log-out</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 Counter-Roll</p>
    </footer>
</body>
</html>