{% extends "base.html" %}
{% block title %}Counter-Roll | Front page{% endblock %}
{% block content %}
<h1>Choose a case</h1>
<div class="containers">
    <div class="swiper mySwiper case-swiper">
            <div class="swiper-wrapper">
                {% for case in cases %}
                    <div class="swiper-slide case-slide">
                        <img src="{{ url_for('static', filename='images/cases/' + case['image_file']) }}" alt="{{case['name']}}" class="case">
                        <h2>{{case['name']}}</h2>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
<script src="{{ url_for('static', filename='swiper.js' )}}">
  </script>

{% endblock %}
