<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <title>Counter-Roll | Log-In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profiling-style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body>
    <main>
        <h1>Pierakstīšanās</h1>
        {%if first == False%}
        <h2>Nepareizs e-pasts vai parole</h2>
        {%endif%}

        <form action="/" method="POST">
            <div class="name-field"><label for="email">Email:</label> 

            <input type="email" name="email" required></div>

            <div class="name-field"><label for="password">Password:</label> 

            <input type="password" name="password" required></div>

            <button type="submit">Pierakstīties</button> 

        </form>

        <a href="{{url_for('sign_up')}}">Nav izveidots profils?</a>
    </main>
</body>
</html>
