<!DOCTYPE html>
<html lang="lv">

<head>
    <meta charset="UTF-8">
    <title>Counter-Roll | Sign-Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profiling-style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>

<body>
    <main>
        <h1>Izveido profilu<h1>
                <h2>{{mistake}}</h2>

                <form action="/sign-up" method="POST">
                    <div class="name-field"><label for="username">Lietotājvārds:</label>

                        <input type="text" name="username" required>
                    </div>

                    <div class="name-field"><label for="email">E-pasts:</label>

                        <input type="email" name="email" required>
                    </div>

                    <div class="name-field"><label for="password">Parole:</label>

                        <input type="password" name="password" required>
                    </div>

                    <div class="name-field"><label for="age">Vecums (pilni gadi):</label>

                        <input type="text" name="age" required>
                    </div>


                    <button type="submit">Izveidot</button>

                </form>
                <a href="{{url_for('home')}}">Jau ir profils?</a>
    </main>
</body>

</html>